@import "tailwindcss";

@theme {
    --color-store-bg: #FFFCF2;
    --color-store-bg2: #EBEBEB;
    --color-store-text: #333333;
    --color-store-items2: #3A7CA5;
    --color-store-items: #16425B;
    --color-store-details: #81B29A;
    --color-store-details2: #F2CC8F;

    --radius-5xl: 3rem;
    --radius-6xl: 4rem;
    --radius-7xl: 5rem;

    --radius-1xl: 1rem;
    --spacing-9xl: 3000px;
    --spacing-10xl: 3600px;
    --spacing-product: 300px;

    --inset-95: 89%;
    --inset-90: 280%;
    --inset-85: 92%;
    --inset-80: 230%;

    --animate-slider: slider 20s linear infinite;

    @keyframes slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
    }
}

:root {
  --scrollbar-bg: transparent;
  --scrollbar-thumb: rgba(0,0,0,.28);
  --scrollbar-thumb-hover: rgba(0,0,0,.45);
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb: rgba(99, 99, 99, 0.28);
    --scrollbar-thumb-hover: rgba(49, 49, 49, 0.45);
  }
}

.scrollbar::-webkit-scrollbar, .scrollbar-none::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 9999px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
